@using Shared.Models
@model IEnumerable<ClientModel>
<div class="row">
    <div class="col-md-10 col-md-offset-2">
        <table class="table">
            <tr>
                <th>First and last name</th>
                <th>Email</th>
                <th>Phonenumber</th>

            </tr>
            @Html.DisplayForModel()
        </table>
    </div>
</div>

