@using Shared.Models
@model IEnumerable<CompanyModel>


    <div class="centered">
        <div class="col-12 text-center d-sm-none" bis_skin_checked="1">
            <img asp-append-version="true" alt="Logo" src="~/img/nasa.png" style="max-width:100%" />
        </div>


        <form class="card">
            <h2 class="text-center">On boarding</h2> <br />
            <div class="form-footer" bis_skin_checked="1">
                <button type="submit" name="button" class="btn btn-primary btn-block" asp-action="AddCompanyRepresentative">Register new users and company</button>
            </div>
            <br />
            <div class="form-footer" bis_skin_checked="1">
                <button type="submit" name="button" class="btn btn-primary btn-block" asp-action="Tables">Check tables</button>
            </div>
        </form>
    </div>