@model Shared.Models.UBOModel
<div class="row">
    <div class="col-md-10 col-md-offset-2">
        <table class="table">
            <tr>
                <th>First and last name</th>
                <th>Email</th>
                <th>Phonenumber</th>
                
            </tr>
            <tr>
                
                   <td>@Model.Name @Model.Surname</td>
                    <td>@Model.Email</td>
                    <td>@Model.PhoneNumber</td>
               
            </tr>
        </table>
    </div>
</div>

